@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$widescreen: 1000px + (2 * $gap);
$fullhd: 1000px + (2 * $gap);
$link: #52b5b4;

@import "~bulma/bulma";
